In [22]:
import pandas as pd
import numpy as np

In [23]:
data=pd.read_csv("Population.csv")
data

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              230 non-null    float64
 6   2020 Population              233 non-null    float64
 7   2015 Population              230 non-null    float64
 8   2010 Population              227 non-null    float64
 9   2000 Population              227 non-null    float64
 10  1990 Population              229 non-null    float64
 11  1980 Population              229 non-null    float64
 12  1970 Population              230 non-null    float64
 13  Area (km²)                   232 non-null    float64
 14  Density (per km²)            230 non-null    float64
 15  Growth Rate                  232 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 31.2+ KB

In [25]:
data[data["Rank"]<=10]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24

In [26]:
data[data['Country'].isin(['India','China'])]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77

In [27]:
data[data['Country'].str.contains("United")]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

In [28]:
#no case sensitive
data[data['Country'].str.contains("united",case=False)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
219,97,ARE,United Arab Emirates,Abu Dhabi,Asia,9441129.0,9287289.0,8916899.0,8481771.0,3275333.0,1900151.0,1014048.0,298084.0,83600.0,112.9322,1.0081,0.12
220,21,GBR,United Kingdom,London,Europe,67508936.0,67059474.0,65224364.0,62760039.0,58850043.0,57210442.0,56326328.0,55650166.0,242900.0,277.9289,1.0034,0.85
221,3,USA,United States,"Washington, D.C.",North America,338289857.0,335942003.0,324607776.0,311182845.0,282398554.0,248083732.0,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
222,200,VIR,United States Virgin Islands,Charlotte Amalie,North America,99465.0,100442.0,102803.0,106142.0,108185.0,100685.0,96640.0,63446.0,347.0,286.6427,0.9937,0.00

In [29]:
data

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [30]:
data.set_index('Rank')

,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Rank,,,,,,,,,,,,,,,,
36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [31]:
data.filter(items=["Rank","Capital"],axis=1)

     Rank           Capital
0      36             Kabul
1     138            Tirana
2      34           Algiers
3     213         Pago Pago
4     203  Andorra la Vella
..    ...               ...
229   226          Mata-Utu
230   172          El Aaiún
231    46             Sanaa
232    63            Lusaka
233    74            Harare

[234 rows x 2 columns]

In [32]:
data.iloc[1:10]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
5,42,AGO,Angola,Luanda,Africa,35588987.0,33428485.0,28127721.0,23364185.0,16394062.0,11828638.0,8330047.0,6029700.0,1246700.0,28.5466,1.0315,0.45
6,224,AIA,Anguilla,The Valley,North America,15857.0,15585.0,14525.0,13172.0,11047.0,8316.0,6560.0,6283.0,91.0,174.2527,1.0066,0.00
7,201,ATG,Antigua and Barbuda,Saint John’s,North America,93763.0,92664.0,89941.0,85695.0,75055.0,63328.0,64888.0,64516.0,442.0,212.1335,1.0058,0.00
8,33,ARG,Argentina,Buenos Aires,South America,45510318.0,45036032.0,43257065.0,41100123.0,37070774.0,32637657.0,28024803.0,23842803.0,2780400.0,16.3683,1.0052,0.57
9,140,ARM,Armenia,Yerevan,Asia,2780469.0,2805608.0,2878595.0,2946293.0,3168523.0,3556539.0,3135123.0,2534377.0,29743.0,93.4831,0.9962,0.03

In [33]:
data[data['Rank']<=10].sort_values(by=['Continent'],ascending=True)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70

In [34]:
data[data['Rank']<=10].sort_values(by=['Continent','Capital'],ascending=[True,False])

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70

In [35]:
data

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [36]:
# to reset the indext to original indexes
data.reset_index(inplace=True)
data

,index,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [37]:
# we can group 2 or more columns to set as index
data.set_index(['Continent','Country'],inplace=True)
data

                             index  Rank CCA3           Capital  \
Continent Country
Asia      Afghanistan            0    36  AFG             Kabul
Europe    Albania                1   138  ALB            Tirana
Africa    Algeria                2    34  DZA           Algiers
Oceania   American Samoa         3   213  ASM         Pago Pago
Europe    Andorra                4   203  AND  Andorra la Vella
...                            ...   ...  ...               ...
Oceania   Wallis and Futuna    229   226  WLF          Mata-Utu
Africa    Western Sahara       230   172  ESH          El Aaiún
Asia      Yemen                231    46  YEM             Sanaa
Africa    Zambia               232    63  ZMB            Lusaka
          Zimbabwe             233    74  ZWE            Harare

                             2022 Population  2020 Population  \
Continent Country
Asia      Afghanistan             41128771.0       38972230.0
Europe    Albania                  2842321.0        2866849.0
Africa    Algeria                 44903225.0       43451666.0
Oceania   American Samoa             44273.0          46189.0
Europe    Andorra                    79824.0          77700.0
...                                      ...              ...
Oceania   Wallis and Futuna          11572.0          11655.0
Africa    Western Sahara            575986.0         556048.0
Asia      Yemen                   33696614.0       32284046.0
Africa    Zambia                  20017675.0       18927715.0
          Zimbabwe                16320537.0       15669666.0

                             2015 Population  2010 Population  \
Continent Country
Asia      Afghanistan             33753499.0       28189672.0
Europe    Albania                  2882481.0        2913399.0
Africa    Algeria                 39543154.0       35856344.0
Oceania   American Samoa             51368.0          54849.0
Europe    Andorra                    71746.0          71519.0
...                                      ...              ...
Oceania   Wallis and Futuna          12182.0          13142.0
Africa    Western Sahara            491824.0         413296.0
Asia      Yemen                   28516545.0       24743946.0
Africa    Zambia                         NaN       13792086.0
          Zimbabwe                14154937.0       12839771.0

                             2000 Population  1990 Population  \
Continent Country
Asia      Afghanistan             19542982.0       10694796.0
Europe    Albania                  3182021.0        3295066.0
Africa    Algeria                 30774621.0       25518074.0
Oceania   American Samoa             58230.0          47818.0
Europe    Andorra                    66097.0          53569.0
...                                      ...              ...
Oceania   Wallis and Futuna          14723.0          13454.0
Africa    Western Sahara            270375.0         178529.0
Asia      Yemen                   18628700.0       13375121.0
Africa    Zambia                   9891136.0        7686401.0
          Zimbabwe                11834676.0       10113893.0

                             1980 Population  1970 Population  Area (km²)  \
Continent Country
Asia      Afghanistan             12486631.0       10752971.0    652230.0
Europe    Albania                  2941651.0        2324731.0     28748.0
Africa    Algeria                 18739378.0       13795915.0   2381741.0
Oceania   American Samoa             32886.0          27075.0       199.0
Europe    Andorra                    35611.0          19860.0       468.0
...                                      ...              ...         ...
Oceania   Wallis and Futuna          11315.0           9377.0       142.0
Africa    Western Sahara            116775.0          76371.0    266000.0
Asia      Yemen                    9204938.0        6843607.0    527968.0
Africa    Zambia                   5720438.0        4281671.0    752612.0
          Zimbabwe                 7049926.0        5202918.0    390757.0

                             Density (per km²)  Growth Rate  \
Continent Country
Asia      Afghanistan                  63.0587       1.0257
Europe    Albania                      98.8702       0.9957
Africa    Algeria                      18.8531       1.0164
Oceania   American Samoa              222.4774       0.9831
Europe    Andorra                     170.5641       1.0100
...                                        ...          ...
Oceania   Wallis and Futuna            81.4930       0.9953
Africa    Western Sahara                2.1654       1.0184
Asia      Yemen                        63.8232       1.0217
Africa    Zambia                       26.5976       1.0280
          Zimbabwe                     41.7665       1.0204

                             World Population Percentage
Continent Country
Asia      Afghanistan                               0.52
Europe    Albania                                   0.04
Africa    Algeria                                   0.56
Oceania   American Samoa                            0.00
Europe    Andorra                                   0.00
...                                                  ...
Oceania   Wallis and Futuna                         0.00
Africa    Western Sahara                            0.01
Asia      Yemen                                     0.42
Africa    Zambia                                    0.25
          Zimbabwe                                  0.20

[234 rows x 16 columns]

In [38]:
# to retrieve data using loc having continent=Asia
data.loc[['Asia']]

                                index  Rank CCA3              Capital  \
Continent Country
Asia      Afghanistan               0    36  AFG                Kabul
          Armenia                   9   140  ARM              Yerevan
          Azerbaijan               13    91  AZE                 Baku
          Bahrain                  15   154  BHR               Manama
          Bangladesh               16     8  BGD                Dhaka
          Bhutan                   23   165  BTN              Thimphu
          Brunei                   29   175  BRN  Bandar Seri Begawan
          Cambodia                 33    73  KHM           Phnom Penh
          China                    41     1  CHN              Beijing
          Georgia                  73   131  GEO              Tbilisi
          Hong Kong                89   104  HKG            Hong Kong
          India                    92     2  IND            New Delhi
          Indonesia                93     4  IDN              Jakarta
          Iran                     94    17  IRN               Tehran
          Iraq                     95    35  IRQ              Baghdad
          Israel                   98    98  ISR            Jerusalem
          Japan                   102    11  JPN                Tokyo
          Jordan                  104    83  JOR                Amman
          Kazakhstan              105    66  KAZ            Nursultan
          Kuwait                  108   129  KWT          Kuwait City
          Kyrgyzstan              109   110  KGZ              Bishkek
          Laos                    110   103  LAO            Vientiane
          Lebanon                 112   119  LBN               Beirut
          Macau                   119   167  MAC    Concelho de Macau
          Malaysia                122    45  MYS         Kuala Lumpur
          Maldives                123   174  MDV                 Malé
          Mongolia                135   134  MNG          Ulaanbaatar
          Myanmar                 140    26  MMR          Nay Pyi Taw
          Nepal                   143    49  NPL            Kathmandu
          North Korea             151    56  PRK            Pyongyang
          Oman                    155   127  OMN               Muscat
          Pakistan                156     5  PAK            Islamabad
          Palestine               158   122  PSE             Ramallah
          Philippines             163    13  PHL               Manila
          Qatar                   167   143  QAT                 Doha
          Saudi Arabia            182    41  SAU               Riyadh
          Singapore               187   113  SGP            Singapore
          South Korea             194    29  KOR                Seoul
          Sri Lanka               197    61  LKA              Colombo
          Syria                   202    60  SYR             Damascus
          Taiwan                  203    57  TWN               Taipei
          Tajikistan              204    95  TJK             Dushanbe
          Thailand                206    20  THA              Bangkok
          Timor-Leste             207   155  TLS                 Dili
          Turkey                  213    18  TUR               Ankara
          Turkmenistan            214   111  TKM             Ashgabat
          United Arab Emirates    219    97  ARE            Abu Dhabi
          Uzbekistan              224    43  UZB             Tashkent
          Vietnam                 228    16  VNM                Hanoi
          Yemen                   231    46  YEM                Sanaa

                                2022 Population  2020 Population  \
Continent Country
Asia      Afghanistan              4.112877e+07     3.897223e+07
          Armenia                  2.780469e+06     2.805608e+06
          Azerbaijan               1.035807e+07              NaN
          Bahrain                  1.472233e+06     1.477469e+06
          Bangladesh               1.711864e+08     1.674210e+08
          Bhutan                   7.824550e+05     7.725060e+05
          Brunei                   4.490020e+05     4.417250e+05
          Cambodia                 1.676784e+07     1.639686e+07
          China                    1.425887e+09     1.424930e+09
          Georgia                  3.744385e+06     3.765912e+06
          Hong Kong                7.488865e+06     7.500958e+06
          India                    1.417173e+09     1.396387e+09
          Indonesia                2.755013e+08     2.718580e+08
          Iran                     8.855057e+07     8.729019e+07
          Iraq                     4.449612e+07     4.255698e+07
          Israel                   9.038309e+06     8.757489e+06
          Japan                    1.239517e+08     1.252448e+08
          Jordan                   1.128587e+07     1.092872e+07
          Kazakhstan               1.939800e+07     1.897924e+07
          Kuwait                   4.268873e+06     4.360444e+06
          Kyrgyzstan               6.630623e+06     6.424874e+06
          Laos                     7.529475e+06     7.319399e+06
          Lebanon                  5.489739e+06     5.662923e+06
          Macau                    6.951680e+05     6.762830e+05
          Malaysia                 3.393822e+07     3.319999e+07
          Maldives                 5.237870e+05     5.144380e+05
          Mongolia                 3.398366e+06     3.294335e+06
          Myanmar                  5.417931e+07     5.342320e+07
          Nepal                    3.054758e+07     2.934863e+07
          North Korea              2.606942e+07     2.586747e+07
          Oman                     4.576298e+06     4.543399e+06
          Pakistan                 2.358249e+08     2.271967e+08
          Palestine                5.250072e+06     5.019401e+06
          Philippines              1.155590e+08     1.121910e+08
          Qatar                    2.695122e+06     2.760385e+06
          Saudi Arabia             3.640882e+07     3.599711e+07
          Singapore                5.975689e+06     5.909869e+06
          South Korea              5.181581e+07     5.184469e+07
          Sri Lanka                2.183214e+07     2.171508e+07
          Syria                    2.212525e+07     2.077260e+07
          Taiwan                   2.389339e+07     2.382146e+07
          Tajikistan               9.952787e+06     9.543207e+06
          Thailand                 7.169703e+07     7.147566e+07
          Timor-Leste                       NaN     1.299995e+06
          Turkey                   8.534124e+07     8.413543e+07
          Turkmenistan             6.430770e+06     6.250438e+06
          United Arab Emirates     9.441129e+06     9.287289e+06
          Uzbekistan               3.462765e+07     3.352666e+07
          Vietnam                  9.818686e+07     9.664868e+07
          Yemen                    3.369661e+07     3.228405e+07

                                2015 Population  2010 Population  \
Continent Country
Asia      Afghanistan              3.375350e+07     2.818967e+07
          Armenia                  2.878595e+06     2.946293e+06
          Azerbaijan               9.863480e+06     9.237202e+06
          Bahrain                  1.362142e+06     1.213645e+06
          Bangladesh               1.578300e+08     1.483911e+08
          Bhutan                   7.432740e+05     7.055160e+05
          Brunei                   4.214370e+05     3.960530e+05
          Cambodia                 1.541752e+07     1.436353e+07
          China                    1.393715e+09     1.348191e+09
          Georgia                  3.771132e+06              NaN
          Hong Kong                7.399838e+06     7.132438e+06
          India                    1.322867e+09     1.240614e+09
          Indonesia                2.590920e+08     2.440162e+08
          Iran                     8.179084e+07     7.537386e+07
          Iraq                     3.775781e+07     3.126488e+07
          Israel                   8.007778e+06     7.328445e+06
          Japan                    1.272509e+08     1.281054e+08
          Jordan                   9.494246e+06     6.931258e+06
          Kazakhstan               1.783591e+07     1.662784e+07
          Kuwait                   3.908743e+06     2.943356e+06
          Kyrgyzstan               5.914980e+06     5.483774e+06
          Laos                     6.787419e+06     6.323418e+06
          Lebanon                  6.398940e+06     4.995800e+06
          Macau                    6.152390e+05     5.572970e+05
          Malaysia                 3.106883e+07              NaN
          Maldives                 4.355820e+05              NaN
          Mongolia                 2.964749e+06     2.702520e+06
          Myanmar                  5.148395e+07     4.939099e+07
          Nepal                    2.761032e+07     2.716157e+07
          North Korea              2.525802e+07     2.468644e+07
          Oman                     4.191776e+06     2.881914e+06
          Pakistan                 2.109693e+08     1.944545e+08
          Palestine                4.484614e+06     3.992278e+06
          Philippines              1.030314e+08     9.463670e+07
          Qatar                    2.414573e+06     1.713504e+06
          Saudi Arabia             3.274985e+07     2.941193e+07
          Singapore                5.650018e+06     5.163590e+06
          South Korea              5.099440e+07     4.881304e+07
          Sri Lanka                2.133670e+07     2.066856e+07
          Syria                    1.920518e+07     2.233756e+07
          Taiwan                   2.351214e+07     2.308308e+07
          Tajikistan               8.524063e+06     7.621779e+06
          Thailand                 7.029440e+07     6.827049e+07
          Timor-Leste              1.205813e+06     1.088486e+06
          Turkey                   7.964618e+07     7.319534e+07
          Turkmenistan             5.766431e+06     5.267970e+06
          United Arab Emirates     8.916899e+06     8.481771e+06
          Uzbekistan               3.094942e+07     2.861423e+07
          Vietnam                  9.219140e+07     8.741101e+07
          Yemen                    2.851654e+07     2.474395e+07

                                2000 Population  1990 Population  \
Continent Country
Asia      Afghanistan              1.954298e+07     1.069480e+07
          Armenia                  3.168523e+06     3.556539e+06
          Azerbaijan               8.190337e+06     7.427836e+06
          Bahrain                  7.114420e+05     5.174180e+05
          Bangladesh               1.291933e+08     1.071477e+08
          Bhutan                   5.872070e+05     5.584420e+05
          Brunei                   3.339260e+05     2.619280e+05
          Cambodia                 1.211884e+07     8.910808e+06
          China                    1.264099e+09     1.153704e+09
          Georgia                           NaN              NaN
          Hong Kong                6.731195e+06     5.838574e+06
          India                    1.059634e+09              NaN
          Indonesia                2.140724e+08     1.821599e+08
          Iran                     6.554438e+07     5.579363e+07
          Iraq                     2.462886e+07     1.765838e+07
          Israel                   6.116958e+06     4.803254e+06
          Japan                    1.268039e+08     1.236863e+08
          Jordan                   5.056174e+06     3.480587e+06
          Kazakhstan               1.523625e+07     1.686656e+07
          Kuwait                   1.934901e+06     1.674938e+06
          Kyrgyzstan               4.935182e+06     4.394734e+06
          Laos                     5.430853e+06     4.314443e+06
          Lebanon                  4.320642e+06     3.593700e+06
          Macau                    4.318960e+05     3.502270e+05
          Malaysia                          NaN     1.751705e+07
          Maldives                          NaN     2.249570e+05
          Mongolia                 2.450979e+06     2.161433e+06
          Myanmar                  4.553833e+07     4.009955e+07
          Nepal                    2.455950e+07     1.961653e+07
          North Korea              2.336706e+07     2.079952e+07
          Oman                     2.344253e+06     1.804524e+06
          Pakistan                 1.543699e+08     1.154141e+08
          Palestine                3.139954e+06     2.124609e+06
          Philippines              7.795822e+07     6.155890e+07
          Qatar                    6.459370e+05     4.416750e+05
          Saudi Arabia             2.154739e+07     1.600476e+07
          Singapore                4.053602e+06     3.022209e+06
          South Korea              4.678859e+07     4.412004e+07
          Sri Lanka                1.877637e+07     1.720409e+07
          Syria                    1.630765e+07     1.240900e+07
          Taiwan                   2.219473e+07     2.058617e+07
          Tajikistan               6.272998e+06     5.417860e+06
          Thailand                 6.306660e+07     5.522841e+07
          Timor-Leste                       NaN     7.581060e+05
          Turkey                   6.411355e+07     5.432414e+07
          Turkmenistan             4.569132e+06     3.720278e+06
          United Arab Emirates     3.275333e+06     1.900151e+06
          Uzbekistan               2.492555e+07     2.057910e+07
          Vietnam                  7.900114e+07     6.691261e+07
          Yemen                    1.862870e+07     1.337512e+07

                                1980 Population  1970 Population  Area (km²)  \
Continent Country
Asia      Afghanistan                12486631.0       10752971.0    652230.0
          Armenia                     3135123.0        2534377.0     29743.0
          Azerbaijan                  6383060.0        5425317.0     86600.0
          Bahrain                      362595.0         222555.0       765.0
          Bangladesh                 83929765.0       67541860.0    147570.0
          Bhutan                       415257.0         298894.0     38394.0
          Brunei                       187921.0         133343.0      5765.0
          Cambodia                    6198959.0        6708525.0    181035.0
          China                     982372466.0      822534450.0   9706961.0
          Georgia                           NaN              NaN     69700.0
          Hong Kong                   4978544.0        3955072.0      1104.0
          India                             NaN      557501301.0   3287590.0
          Indonesia                 148177096.0      115228394.0   1904569.0
          Iran                       38520664.0       28449705.0   1648195.0
          Iraq                       13653369.0        9811347.0    438317.0
          Israel                      3744608.0        2907307.0     20770.0
          Japan                     117624196.0      105416839.0    377930.0
          Jordan                      2216903.0        1557374.0     89342.0
          Kazakhstan                 14172710.0       12265305.0   2724900.0
          Kuwait                      1493870.0         802786.0     17818.0
          Kyrgyzstan                  3691209.0        3016384.0    199951.0
          Laos                        3297519.0        2675283.0    236800.0
          Lebanon                     2963702.0        2381791.0     10452.0
          Macau                        245332.0         247284.0        30.0
          Malaysia                   13215707.0       10306508.0    330803.0
          Maldives                     164887.0         123243.0       300.0
          Mongolia                    1697780.0        1293880.0   1564110.0
          Myanmar                    33465781.0       27284112.0    676578.0
          Nepal                      15600442.0       12501285.0    147181.0
          North Korea                17973650.0       14996879.0    120538.0
          Oman                        1017462.0         670693.0    309500.0
          Pakistan                   80624057.0       59290872.0    881912.0
          Palestine                   1453620.0        1118241.0      6220.0
          Philippines                48419546.0       37435586.0    342353.0
          Qatar                        277450.0         118007.0     11586.0
          Saudi Arabia               10171710.0        6106191.0   2149690.0
          Singapore                   2400729.0        2061831.0       710.0
          South Korea                38170501.0       32601143.0    100210.0
          Sri Lanka                  14943645.0       12388769.0     65610.0
          Syria                       8898954.0        6319199.0    185180.0
          Taiwan                     18100281.0       14957870.0     36193.0
          Tajikistan                  4045965.0        2993019.0    143100.0
          Thailand                   45737753.0              NaN    513120.0
          Timor-Leste                  642224.0         554021.0     14874.0
          Turkey                     44089069.0       35540990.0    783562.0
          Turkmenistan                2862903.0        2201432.0    488100.0
          United Arab Emirates        1014048.0         298084.0     83600.0
          Uzbekistan                 15947129.0       12011361.0    447400.0
          Vietnam                    52968270.0       41928849.0    331212.0
          Yemen                       9204938.0        6843607.0    527968.0

                                Density (per km²)  Growth Rate  \
Continent Country
Asia      Afghanistan                     63.0587       1.0257
          Armenia                         93.4831       0.9962
          Azerbaijan                     119.6082       1.0044
          Bahrain                       1924.4876       1.0061
          Bangladesh                    1160.0350       1.0108
          Bhutan                          20.3796       1.0064
          Brunei                          77.8841       1.0081
          Cambodia                        92.6221       1.0108
          China                          146.8933       1.0000
          Georgia                         53.7214       0.9964
          Hong Kong                     6783.3922       0.9992
          India                          431.0675       1.0068
          Indonesia                      144.6529       1.0064
          Iran                            53.7258       1.0071
          Iraq                           101.5158       1.0221
          Israel                         435.1617       1.0155
          Japan                          327.9753       0.9947
          Jordan                         126.3221       1.0123
          Kazakhstan                       7.1188       1.0105
          Kuwait                         239.5821       1.0044
          Kyrgyzstan                      33.1612       1.0158
          Laos                            31.7968       1.0141
          Lebanon                        525.2334       0.9816
          Macau                        23172.2667       1.0125
          Malaysia                       102.5934       1.0109
          Maldives                      1745.9567       1.0045
          Mongolia                         2.1727       1.0151
          Myanmar                         80.0784       1.0071
          Nepal                          207.5511       1.0171
          North Korea                    216.2755       1.0038
          Oman                            14.7861       1.0123
          Pakistan                       267.4018       1.0191
          Palestine                      844.0630       1.0227
          Philippines                    337.5434       1.0147
          Qatar                          232.6189       1.0026
          Saudi Arabia                    16.9368       1.0128
          Singapore                     8416.4634       1.0058

In [39]:
# using iloc in the backend it is stores as indexes so we can retrieve using indexes 
data.iloc[10:20]

                          index  Rank CCA3     Capital  2022 Population  \
Continent     Country
North America Aruba          10   198  ABW  Oranjestad         106445.0
Oceania       Australia      11    55  AUS    Canberra       26177413.0
Europe        Austria        12    99  AUT      Vienna        8939617.0
Asia          Azerbaijan     13    91  AZE        Baku       10358074.0
North America Bahamas        14   176  BHS      Nassau         409984.0
Asia          Bahrain        15   154  BHR      Manama        1472233.0
              Bangladesh     16     8  BGD       Dhaka      171186372.0
North America Barbados       17   186  BRB  Bridgetown         281635.0
Europe        Belarus        18    96  BLR       Minsk        9534954.0
              Belgium        19    81  BEL    Brussels       11655930.0

                          2020 Population  2015 Population  2010 Population  \
Continent     Country
North America Aruba              106585.0         104257.0         100341.0
Oceania       Australia        25670051.0       23820236.0       22019168.0
Europe        Austria           8907777.0        8642421.0        8362829.0
Asia          Azerbaijan              NaN        9863480.0        9237202.0
North America Bahamas            406471.0         392697.0         373272.0
Asia          Bahrain           1477469.0        1362142.0        1213645.0
              Bangladesh      167420951.0      157830000.0      148391139.0
North America Barbados           280693.0         278083.0         274711.0
Europe        Belarus           9633740.0        9700609.0        9731427.0
              Belgium          11561717.0       11248303.0       10877947.0

                          2000 Population  1990 Population  1980 Population  \
Continent     Country
North America Aruba               89101.0          65712.0          62267.0
Oceania       Australia        19017963.0       17048003.0       14706322.0
Europe        Austria           8010428.0        7678729.0        7547561.0
Asia          Azerbaijan        8190337.0        7427836.0        6383060.0
North America Bahamas            325014.0         270679.0         223752.0
Asia          Bahrain            711442.0         517418.0         362595.0
              Bangladesh      129193327.0      107147651.0       83929765.0
North America Barbados           264657.0         258868.0         253575.0
Europe        Belarus          10256483.0       10428525.0        9817257.0
              Belgium          10264343.0        9959560.0        9828986.0

                          1970 Population  Area (km²)  Density (per km²)  \
Continent     Country
North America Aruba               59106.0       180.0           591.3611
Oceania       Australia        12595034.0   7692024.0             3.4032
Europe        Austria           7465301.0     83871.0           106.5877
Asia          Azerbaijan        5425317.0     86600.0           119.6082
North America Bahamas            179129.0     13943.0            29.4043
Asia          Bahrain            222555.0       765.0          1924.4876
              Bangladesh       67541860.0    147570.0          1160.0350
North America Barbados           241397.0       430.0           654.9651
Europe        Belarus           9170786.0    207600.0            45.9295
              Belgium           9629376.0     30528.0           381.8111

                          Growth Rate  World Population Percentage
Continent     Country
North America Aruba            0.9991                         0.00
Oceania       Australia        1.0099                         0.33
Europe        Austria          1.0020                         0.11
Asia          Azerbaijan       1.0044                         0.13
North America Bahamas          1.0051                         0.01
Asia          Bahrain          1.0061                         0.02
              Bangladesh       1.0108                         2.15
North America Barbados         1.0015                         0.00
Europe        Belarus          0.9955                         0.12
              Belgium          1.0038                         0.15

In [40]:
# to retrieve particular record using index as we set index as country
data.loc['Asia','India']

index                                    92
Rank                                      2
CCA3                                    IND
Capital                           New Delhi
2022 Population                1417173173.0
2020 Population                1396387127.0
2015 Population                1322866505.0
2010 Population                1240613620.0
2000 Population                1059633675.0
1990 Population                         NaN
1980 Population                         NaN
1970 Population                 557501301.0
Area (km²)                        3287590.0
Density (per km²)                  431.0675
Growth Rate                          1.0068
World Population Percentage           17.77
Name: (Asia, India), dtype: object

In [41]:
# to sort the continent like in asia continent i need countries present inside them
data.sort_index()

                            index  Rank CCA3      Capital  2022 Population  \
Continent     Country
Africa        Algeria           2    34  DZA      Algiers       44903225.0
              Angola            5    42  AGO       Luanda       35588987.0
              Benin            21    77  BEN   Porto-Novo       13352864.0
              Botswana         26   144  BWA     Gaborone        2630296.0
              Burkina Faso     31    58  BFA  Ouagadougou       22673762.0
...                           ...   ...  ...          ...              ...
South America Paraguay        161   109  PRY     Asunción        6780744.0
              Peru            162    44  PER         Lima       34049588.0
              Suriname        199   170  SUR   Paramaribo         618040.0
              Uruguay         223   133  URY   Montevideo        3422794.0
              Venezuela       227    51  VEN      Caracas       28301696.0

                            2020 Population  2015 Population  2010 Population  \
Continent     Country
Africa        Algeria            43451666.0       39543154.0       35856344.0
              Angola             33428485.0       28127721.0       23364185.0
              Benin              12643123.0       10932783.0        9445710.0
              Botswana            2546402.0        2305171.0        2091664.0
              Burkina Faso       21522626.0       18718019.0       16116845.0
...                                     ...              ...              ...
South America Paraguay            6618695.0        6177950.0        5768613.0
              Peru               33304756.0       30711863.0       29229572.0
              Suriname             607065.0         575475.0         546080.0
              Uruguay             3429086.0        3402818.0        3352651.0
              Venezuela          28490453.0       30529716.0       28715022.0

                            2000 Population  1990 Population  1980 Population  \
Continent     Country
Africa        Algeria            30774621.0       25518074.0       18739378.0
              Angola             16394062.0       11828638.0        8330047.0
              Benin               6998023.0        5133419.0        3833939.0
              Botswana            1726985.0        1341474.0         938578.0
              Burkina Faso       11882888.0        9131361.0        6932967.0
...                                     ...              ...              ...
South America Paraguay            5123819.0        4059195.0        3078912.0
              Peru               26654439.0       22109099.0       17492406.0
              Suriname             478998.0         412756.0         375112.0
              Uruguay             3292224.0        3117012.0        2953750.0
              Venezuela                 NaN       19750579.0       15210443.0

                            1970 Population  Area (km²)  Density (per km²)  \
Continent     Country
Africa        Algeria            13795915.0   2381741.0            18.8531
              Angola              6029700.0   1246700.0            28.5466
              Benin               3023443.0    112622.0           118.5635
              Botswana             592244.0    582000.0             4.5194
              Burkina Faso        5611666.0    272967.0            83.0641
...                                     ...         ...                ...
South America Paraguay            2408787.0    406752.0            16.6705
              Peru               13562371.0   1285216.0            26.4933
              Suriname             379918.0    163820.0             3.7727
              Uruguay             2790265.0    181034.0            18.9069
              Venezuela          11355475.0         NaN            30.8820

                            Growth Rate  World Population Percentage
Continent     Country
Africa        Algeria            1.0164                         0.56
              Angola             1.0315                         0.45
              Benin              1.0274                         0.17
              Botswana           1.0162                         0.03
              Burkina Faso       1.0259                         0.28
...                                 ...                          ...
South America Paraguay           1.0115                         0.09
              Peru               1.0099                         0.43
              Suriname           1.0082                         0.01
              Uruguay            0.9990                         0.04
              Venezuela          1.0036                         0.35

[234 rows x 16 columns]

In [49]:
#to retrieve data from specific continent and countries, we specify the names and after the comma we give colon becuase we want all the columns
data.loc[(['Asia','South America'],['India','China','Suriname','Peru']),:]
# if we want only certain columns we specifiy the column names
data.loc[(['Asia','South America'],['India','China','Suriname','Peru']),['index','Rank']]

                        index  Rank
Continent     Country
Asia          India        92     2
              China        41     1
South America Suriname    199   170
              Peru        162    44

In [51]:
# all the rows of specific columns
data.loc[:,['index','Rank']]

                             index  Rank
Continent Country
Asia      Afghanistan            0    36
Europe    Albania                1   138
Africa    Algeria                2    34
Oceania   American Samoa         3   213
Europe    Andorra                4   203
...                            ...   ...
Oceania   Wallis and Futuna    229   226
Africa    Western Sahara       230   172
Asia      Yemen                231    46
Africa    Zambia               232    63
          Zimbabwe             233    74

[234 rows x 2 columns]